.animated {
  &.animation-horizontal {
    &.direction-next {
      &.slide-prev {
        animation-name: leaveLeft;
        opacity: 1;
      }

      &.slide-curr {
        animation-name: enterRight;
      }
    }

    &.direction-prev {
      &.slide-curr {
        animation-name: enterLeft;
      }

      &.slide-next {
        animation-name: leaveRight;
        opacity: 1;
      }
    }
  }

  &.animation-vertical {
    &.direction-next {
      &.slide-prev {
        animation-name: leaveTop;
        opacity: 1;
      }

      &.slide-curr {
        animation-name: enterBottom;
      }
    }

    &.direction-prev {
      &.slide-curr {
        animation-name: enterTop;
      }

      &.slide-next {
        animation-name: leaveBottom;
        opacity: 1;
      }
    }
  }
}

@keyframes enterLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes enterRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes leaveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes leaveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes enterTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes enterBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes leaveTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes leaveBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
